interface Ethernet{{ switch_port }}
   description Host {{ server_name }} managed by Ansible and Jinja template
   switchport
   switchport mode access
   switchport access vlan {{ port_vlan }}
   no shutdown
!
